# Node.js dependencies
node_modules

# Logs
logs/
*.log

# Environment variables
.env

# OS files
.DS_Store

# IDE files
.vscode/

# Build artifacts
build/
dist/

# Test coverage reports
coverage/

# Package files
package-lock.json
npm-debug.log